[Unit]
Description=Blynk Telemetry Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/projects/services/Blynk/blynkServices.py
WorkingDirectory=/home/pi/projects/services/Blynk
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target