#Selenium works only when this service file is placed in ~/.config/systemd/user/
#Check below thread for more info 
#https://stackoverflow.com/questions/51258883/selenium-python-chromedriver-systemd-not-working?noredirect=1&lq=1

[Unit]
Description=Blynk Telemetry Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Pi-Services/Blynk/blynkServices.py
WorkingDirectory=/home/pi/Pi-Services/Blynk
Restart=always
StandardError=inherit
StandardOutput=inherit

# Uncomment below lines when not placed in ~/.config/systemd/user/
User=pi

[Install]
WantedBy=default.target